<footer style="text-align: center;">
	<p class="icons-holder">
	  {% if site.resumeurl %}
	  <a href="{{ site.resumeurl }}" target="_blank">
	    <img src="{{ 'assets/images/icons/resume.png' }}">
	    ![asda](assets/images/icons/resume.png)
	  </a>
	   | 
	  {% endif %}

	  {% if site.linkedinurl %}
	  <a href="{{ site.linkedinurl }}" target="_blank">
	    <img src="{{ site.url }}/assets/images/icons/linkedin.png">
	  </a>
	   | 
	  {% endif %}
	  
	  
	  {% if site.githurl %}
	  <a href="{{ site.githurl }}" target="_blank">
	    <img src="{{ site.url }}/assets/images/icons/github.png">
	  </a>
	   | 
	  {% endif %}

	  {% if site.twitterurl %}
	  <a href="{{ site.twitterurl }}" target="_blank">
	    <img src="{{ site.url }}/assets/images/icons/twitter.png">
	  </a>
	   | 
	  {% endif %}

	  {% if site.stackoverflowurl %}
	  <a href="{{ site.stackoverflowurl }}" target="_blank">
	    <img src="{{ site.url }}/assets/images/icons/stack-overflow.png">
	  </a>
	  {% endif %}
	</p>
</footer>