---
---

@import "{{ site.theme }}";
body {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.flex {
    display: flex;
}

.mb-10 {
    margin-bottom: 1.0rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.w-3\/4 {
    width: 75%;
}

.w-1\/4 {
    width: 25%;
}

.block {
    display: block;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-center {
    background-position: 50%;
}

.post-left h3 {
    margin: 0 0 7px;
}

.post-left p {
    margin: 0 0 3px;
}

.capitalize {
    text-transform: capitalize;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.border-t {
    border-top-width: 1px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-dashed {
    border-style: dashed;
}
.border-border {
    border-color: rgba(0,0,0,.1);
}

.w-32 {
    width: 8rem;
}

.rounded-full {
    border-radius: 9999px;
}

.pl-5 {
    padding-left: 1.25rem;
}

.leading-loose {
    line-height: 2;
}

.font-bold {
    font-weight: 700;
}

.text-sm {
    font-size: .875rem;
}

.text-left {
    text-align: left;
}

.border-none-lr {
    border-left: none;
    border-right: none;    
}

.icons-holder img {
    width: 25px;
}

.show-sm {
    display: none;
}

.section {
    border: none;
}

/* On screens that are 768px or less, set the background color to olive */
@media print, screen and (max-width: 960px) {
  section { border: none; }
}
@media screen and (max-width: 768px) {
  .show-sm {
    display: block;
  }

  .hide-sm {
    display: none;
  }

  .w-3\/4 {
    width: 100%;
  }
}

/********Bootstrap Like Styles with CSS Grids*********/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 0 20px;
}

pad-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-6 {
    grid-column: span 6;
}

.col-4 {
    grid-column: span 4;
}

.text-center {
    text-align: center;
}

.border-1pt {
    border: 1px solid #ededed;
}

.mr-5 {
    margin: 5px;
}

p img {
    text-align: center;
    width: 100%;
}
/********Bootstrap Like Styles with CSS Grids*********/