---
---

@import "{{ site.theme }}";

.flex {
    display: flex;
}

.mb-10 {
    margin-bottom: 1.0rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.w-3\/4 {
    width: 75%;
}

.w-1\/4 {
    width: 25%;
}

.block {
    display: block;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-center {
    background-position: 50%;
}

.post-left h3 {
    margin: 0 0 7px;
}

.post-left p {
    margin: 0 0 3px;
}